body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #fff;
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;

}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
}
h1 {
	font-size: 64px;
	letter-spacing: 0.06em;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 18px;
}
.padding-col {
	padding-right: 2px;
	padding-left: 2px;
}
$bgColorDarker: #2F343A;
$bgColorLighter: #393F47;
$bgColorGold: #C8A35F;
.head-top {
	background: $bgColorGold;
	padding: 16px 0;
	font-size: 12px;
	span {
		text-transform: uppercase;

	}
}
.head-nav {
	background: $bgColorDarker;
	padding: 25px 0;
	position: relative;
	.head-geolocation {
		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 0;
			width: 1px;
			height: 45px;
			background: #F2F2F2;
		}
		.head-geolocation__link {
			margin-left: 10px;
		}
		a {
			i {
				font-size: 21px;
				color: $bgColorGold;
				margin-right: 7px;
			}
			&:hover {
				color: $bgColorGold;
			}
		}
	}
	.head-menu {
		text-align: end;
		.head-menu__list {
			justify-content: flex-end;
			.head-menu__link {
				a {
					padding: 5px 30px;
					&:hover {
						color: $bgColorGold;
					}

				}
			}
		}
	}
	/* -- HAMBURGER -- */
	.hamburger {
		margin-top: 10px;
		#menuToggle {
			span {
				display: block;
				width: 35px;
				height: 3px;
				background: #fff;
				border-radius: 5px;
				margin: auto;
				margin-bottom: 6px;
			}
		}
	}
}
.header-home {
	background: url('../img/fon-header.jpg') no-repeat center /cover;
	padding: 200px 0 260px;
	p {
		max-width: 750px;
		margin: 45px auto;
	}
}
.section-title {
	position: relative;
	padding-top: 40px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 90px;
		height: 6px;
		background: $bgColorGold;
	}
}
//section TRANSPORT-COUNTY
.transport-county {
	padding: 120px 0 130px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
	    left: 34%;
	    width: 30%;
	    height: 100%;
	    background: $bgColorDarker;
	    z-index: -1;

	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: $bgColorLighter;
	    z-index: -2;
	}
	.county {
		p {
			max-width: 400px;
    		letter-spacing: .03em;
    		margin: 30px 0 50px;
		}
		.link {
			display: inline-block;
			background: $bgColorGold;
			padding: 18px 48px 19px;
			&:hover {
				background: #d9b22c;
			}
		}
	}
	.transport-gallery {
		.transport-gallery__img {
			margin-left: 35px;
			img {
				max-width: 420px;
				max-height: 270px;
				width: 100%;
			}
		}
		.transport-gallery__switch {
			.arrow-btn {
				position: absolute;
				right: 0;
				display: flex;
			}
			.btn-next {
				top: 0;
				span {
					margin-right: 40px;
				}
			}
			.btn-prev {
				bottom: 0;
				span {
					margin-left: 40px;
				}
			}
			.arrow-next {
				transform: rotate(45deg);
			}
			.arrow-prev {
				transform: rotate(225deg);
			}
			.arrow {
				width: 20px;
				height: 20px;
				box-sizing: border-box;
				
				&::before {
					content: '';
					width: 100%;
					height: 100%;
					border-width: 3px 3px 0 0;
					border-style: solid;
					border-color: #fafafa;
					transition: .2s ease;
					display: block;
					transform-origin: 100% 0;
				}
				&:after {
					content: '';
					display: block;
					position: relative;
					top: -100%;
					width: 100%;
					height: 100%;
					border-width: 0 3px 0 0;
					border-style: solid;
					border-color: #fafafa;
					transform-origin: 100% 0;
					transition:.2s ease;
				}
				
				&:hover::after {
					transform: rotate(45deg);
					border-color: $bgColorGold;
					height: 200%;
					margin-top: 2px;
				}
				&:hover::before {
					border-color: $bgColorGold;
					transform: scale(.9);
					
				}
			}
		}
	}
}
.services {
	padding: 120px 0;
	background: $bgColorDarker;
	.cards-box {
		margin-top: 60px;
	}
	.top-indent {
		margin-top: 4px;
	}
	.services-cards {
		background: $bgColorLighter;
		padding: 35px 20px;
		text-align: center;
		transition: all .5s;
		&:hover {
			background: $bgColorGold;
		}
		&:hover .services-cards__icon {
			background: #fff;
			color: #4e4f50;
		}
		.services-cards__icon {
			padding: 15px 20px;
			color: #fff;
			font-size: 30px;
			transform: rotate(-50deg);
			border-radius: 50%;
			display: inline-block;

		}
	}
}

.about {
	padding: 80px 0 200px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
	    left: 34%;
	    width: 30%;
	    height: 80%;
	    background: $bgColorLighter;
	    z-index: -1;

	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: $bgColorDarker;
	    z-index: -2;
	}
	.about-info {
		p {
			font-size: 16px;
			letter-spacing: .03em;
			margin-top: 30px;
		}
	}
	.about-cards__content {
		img {
			width: 100%;
			height: 176px;
		}
		.about-cards__box {
			padding: 0 20px 25px;
			background: #fff;
			span {
				display: block;
				color: #2F343A;
				text-align: center;
			}
			span:first-child {
				font-size: 64px;
				font-weight: 700;
			}
			span:last-child {
				font-size: 12px;
				margin-top: 10px;
			}
		}
		#slides {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    padding: 0px;
		    margin: 0px;
		    list-style-type: none;

		    .slide {
			    position: absolute;
			    left: 0px;
			    top: 0px;
			    width: 100%;
			    height: 100%;
			    opacity: 0;
			    z-index: 1;
			    -webkit-transition: opacity 1s;
			    -moz-transition: opacity 1s;
			    -o-transition: opacity 1s;
			    transition: opacity 1s;
			    img {
			    	width: 100%;
			    }
			}
			.showing {
			    opacity: 1;
			    z-index: 2;
			}
			// .slide:nth-of-type(1) {
			//     background: url('http://foton.center-st.ru/files/models/brands/JAC.png') no-repeat center;
			// }
			// .slide:nth-of-type(2) {
			//     background: url('https://isuzu.avtofurgon.ru/upload/iblock/ef5/ef5bafcadc3e5467603cd94e58a748c4.jpg') no-repeat center;
			// }
			// .slide:nth-of-type(3) {
			//     background: url('https://avtograd-2007.com.ua/images/vantajivka.png') no-repeat center;
			// }
			// .slide:nth-of-type(4) {
			//     background: url('http://pngimg.com/uploads/truck/truck_PNG16260.png') no-repeat center;
			// }
			// .slide:nth-of-type(5) {
			//     background: url('https://static.tildacdn.com/tild6162-3836-4233-a536-653537306135/0fe4504cd349f9de449a.png') no-repeat center;
			// }
		}
	}
}
.location {
	background: url('../img/maps.jpg') no-repeat center /cover;
	#map {
		width: 100%;
		height: 400px;
	}
}

.footer {
	background: $bgColorGold;
	padding: 35px 0 20px;
	a, p {
		display: block;
		font-size: 13px;
		margin-bottom: 10px;
		
	}
	a:hover {
		color: #000;
	}
}
/*-----------------MEDIA QUERIES-----------------*/
/*-------- 992-1200px col-md-------*/
@media screen and (max-width: 1200px) {
	.head-nav {
		.head-menu {
			.head-menu__list {
				.head-menu__link {
					a {
						padding: 5px 15px;
					}
				}
			}
		}
	}
}
/*-------- 768-992px col-md-------*/
@media screen and (max-width: 992px) {
	h1 {
		font-size: 55px;
	}
	.transport-county {
		&:after {
		    left: 31%;
		    width: 40%;
		}
		.indent-top {
			margin-top: 70px;
			.transport-gallery {
				.transport-gallery__switch {
					.arrow-btn {
						right: 40px;
					}
					.btn-next {
						top: 80px;
					}
					.btn-prev {
						bottom: 40px;
					}
				}
			}
		}
	}
	.services {
		.top-indent {
			margin-top: 1px;
		}
		.services-cards {
			margin-bottom: 3px;
		}
	}
	.about {
		&:after {
			top: 40px;
		    left: 31%;
		    width: 40%;
		}
	}
	.footer {
		.footer-phone, .footer-copy {
			margin-top: 20px;
		}
	}
	.location {
		#map {;
			height: 300px;
		}
	}

	
}

/*-------- 576-768px col-md-------*/
@media screen and (max-width: 768px) {
	.transport-county {
		&:after {
		    left: 25%;
		    width: 50%;
		}
		.indent-top {
			.transport-gallery {
				.transport-gallery__img {
					margin-left: 0;
					max-width: 400px;
				}
				.transport-gallery__switch {
					// .arrow-btn {
					// 	right: 40px;
					// }
					// .btn-next {
					// 	top: 80px;
					// }
					// .btn-prev {
					// 	bottom: 40px;
					// }
				}
			}
		}
	}
	.about {
		&:after {
		    left: 25%;
		    width: 50%;
		}
	}
}
/*-------- 320-576px col-------*/
@media screen and (max-width: 576px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	.head-top {
		padding: 8px 0;
	}
	.head-nav {
		.head-logo img {
			max-width: 120px;
		}
		.head-geolocation {
			display: flex;
			align-items: center;
			line-height: 1;
			font-size: 14px;
			.head-geolocation__link {
				margin-left: 0;
			}
		}
	}
	.transport-county {
		padding: 120px 0 130px;
		.county {
			.link {
				padding: 15px 35px 14px;
			}
		}
		.indent-top {
			.transport-gallery {
				.transport-gallery__img {
					img {
						width: 100%
					}
				}
				.transport-gallery__switch {
					.btn-next {
						top: inherit;
						bottom: -45px;
						right: 70px;
						span {
							display: none;
						}
					}
					.btn-prev {
						left: 70px;
						bottom: -45px;
						span {
							display: none;
						}
					}
				}
			}
		}
	}
	.services {
		.services-cards {
			width: 90%;
			margin: auto;
			margin-bottom: 3px;
		}
	}
	.about {
		padding: 80px 0 200px;
		.about-info {
		}
		.about-cards__content {
			img {
				height: auto;
				margin: 2px 0;
			}
			.about-cards__box {
			}
		}
	}
}