body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #fff;
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;

}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
}
h1 {
	font-size: 64px;
	letter-spacing: 0.06em;
}
h2 {
	font-size: 40px;
	text-shadow: 1px 0px 4px black;
}
h3 {
	font-size: 18px;
}
.padding-col {
	padding-right: 2px;
	padding-left: 2px;
}
.modal-overlay {
	background: rgba(0,0,0,0.1);
	width: 100%;
	height: 100%;
}
$bgColorDarker: #2F343A;
$bgColorLighter: #393F47;
$bgColorGold: #C8A35F;
.head-top {
	background: $bgColorGold;
	padding: 10px 0;
	font-size: 12px;
	span {
		text-transform: uppercase;
		&:hover {
			color: #000;
			cursor: pointer;
		}

	}
}
.head-nav {
	background: $bgColorDarker;
	padding: 25px 0;
	position: relative;
	.head-geolocation {
		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 0;
			width: 1px;
			height: 45px;
			background: #F2F2F2;
		}
		.head-geolocation__link {
			margin-left: 10px;
		}
		a {
			i {
				font-size: 21px;
				color: $bgColorGold;
				margin-right: 7px;
			}
			&:hover {
				color: $bgColorGold;
			}
		}
	}
	.head-menu {
		text-align: end;
		.head-menu__list {
			justify-content: flex-end;
			.head-menu__link {
				a {
					padding: 5px 30px;
					&:hover {
						color: $bgColorGold;
					}

				}
			}
		}
	}
	/* -- HAMBURGER -- */
	.burger-button {
		width: 70px;
		height: 70px;
		.burger-button__check {
			display: none;
		}
		// .burger-button__check:checked ~ .hamburger-menu {
		// 	max-height: 240px;
		// 	overflow: unset;
		// }
		// #burger-button__check:checked ~ #menuToggle > span:nth-child(1) {
		// 	top: 35px;
		//   	transform: rotate(135deg);

		// }
		// #burger-button__check:checked ~ #menuToggle > span:nth-child(2) {
		// 	opacity: 0;
		//   	left: -60px;
		// }
		// #burger-button__check:checked ~ .#menuToggle > span:nth-child(3) {
		// 	top: 35px;
		//   	transform: rotate(-135deg);
		// }
		#menuToggle {
			width: 70px;
			height: 70px;
			cursor: pointer;
			transition: all .1s ease-in-out;
			z-index: 33333;
				&:hover {
					background: rgba(0,0,0,0.2);
					transition: all .2s ease-in-out;
				}
			span {
				display: block;
				position: absolute;
				left: 32px;
				opacity: 1;
				width: 35px;
				height: 2px;
				background: #fff;
				border-radius: 5px;
				margin: auto;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
					transition: .25s rease-in-out;
				&:nth-child(1) {
				  top: 25px;
				}
				&:nth-child(2) {
				  top: 35px;
				}
				&:nth-child(3) {
				  top: 45px;
				}
			}
			&.open span:nth-child(1) {
			  top: 35px;
			  transform: rotate(135deg);
			}

			&.open span:nth-child(2) {
			  opacity: 0;
			  left: -60px;
			}
			&.open span:nth-child(3) {
			  top: 35px;
			  transform: rotate(-135deg);
			}
		}
	}
	.hamburger-menu {
		max-height: 0;
		visibility:  hidden;
		transition: max-height .5s ease-out;
		z-index: 2222;		
		.hamburger-menu__list {
			.hamburger-menu__link {
				a {
					padding: 15px 20px 5px;
					color: #c8a35f;
					display: block;
					font-size: 20px;
					text-decoration:none;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}
.header-home {
	background:url('../img/bg-trant.jpg')no-repeat center /cover;
	padding: 300px 0 260px;
	.header-bg {
		width: 100%;
		height: 100%;
	}
	p {
		max-width: 750px;
		margin: 45px auto;
	}
}
.section-title {
	position: relative;
	padding-top: 40px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 90px;
		height: 6px;
		background: $bgColorGold;
	}
}
//section TRANSPORT-COUNTY
.transport-county {
	padding: 120px 0 130px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
	    left: 34%;
	    width: 30%;
	    height: 100%;
	    background: $bgColorDarker;
	    z-index: -1;

	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: $bgColorLighter;
	    z-index: -2;
	}
	.county {
		p {
			max-width: 400px;
    		letter-spacing: .03em;
    		margin: 30px 0 50px;
		}
		.link {
			display: inline-block;
			background: $bgColorGold;
			padding: 18px 48px 19px;
			&:hover {
				background: #d9b22c;
			}
		}
	}
	.dots-box {
		position: absolute;
		left: 32%;
		bottom: 20px;
		display: flex;
		.dot {
			display: block;
			cursor: pointer;
			height: 11px;
			width: 11px;
			border-radius: 50%;
			margin: 0 2px;
			background-color: #8c8c8c7a;
			
		}
		.active, .dot:hover {
			background-color: #c8a35f85;
		}
	}
	.transport-gallery {
		margin-top: 40px;
		.transport-gallery__img {
			margin-left: 35px;
			img {
				max-width: 420px;
				max-height: 270px;
				width: 100%;
			}
		}
		.transport-gallery__switch {
			.arrow-btn {
				position: absolute;
				right: 25px;
				display: flex;
			}
			.btn-prev {
				bottom: 40px;
				span {
					margin-left: 40px;
				}
			}
			.btn-next {
				top: 40px;
				span {
					margin-right: 40px;
				}
			}
			.arrow-prev {
				transform: rotate(45deg);
			}
			.arrow-next {
				transform: rotate(225deg);
			}
			.arrow {
				width: 20px;
				height: 20px;
				box-sizing: border-box;
				
				&::before {
					content: '';
					width: 100%;
					height: 100%;
					border-width: 3px 3px 0 0;
					border-style: solid;
					border-color: #fafafa;
					transition: .2s ease;
					display: block;
					transform-origin: 100% 0;
				}
				&:after {
					content: '';
					display: block;
					position: relative;
					top: -100%;
					width: 100%;
					height: 100%;
					border-width: 0 3px 0 0;
					border-style: solid;
					border-color: #fafafa;
					transform-origin: 100% 0;
					transition:.2s ease;
				}
				
				&:hover::after {
					transform: rotate(45deg);
					border-color: $bgColorGold;
					height: 200%;
					margin-top: 2px;
				}
				&:hover::before {
					border-color: $bgColorGold;
					transform: scale(.9);
					
				}
			}
		}
	}
}
.services {
	padding: 100px 0 70px;
	background-image:url('https://www.nord-ostsee-automobile.de/fileadmin/Redaktion/Visuals/Trucks/Trucks-1600x640.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	.section-title:after {
		background: #fff;
	}
	.cards-box {
		margin-top: 60px;
	}
	.top-indent {
		margin-top: 4px;
	}
	.services-cards {
		background: $bgColorLighter;
		padding: 35px 20px;
		text-align: center;
		transition: all .5s;
		min-height: 195px;
		&:hover {
			background: $bgColorGold;
		}
		.services-cards__icon {
			padding: 15px 20px;
			color: #fff;
			font-size: 30px;
			transform: rotate(-50deg);
			border-radius: 50%;
			display: inline-block;
			.fa-truck {
				transform: rotateZ(48deg);
			}

		}
	}
}
#air-services {
	padding: 150px 0 70px;
	background-image:url('https://kipmu.ru/wp-content/uploads/pknszgn.jpeg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
}
.about {
	padding: 80px 0 200px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
	    left: 34%;
	    width: 30%;
	    height: 80%;
	    background: $bgColorLighter;
	    z-index: -1;

	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: $bgColorDarker;
	    z-index: -2;
	}
	.about-info {
		p {
			font-size: 16px;
			letter-spacing: .03em;
			margin-top: 30px;
		}
	}
	.about-cards__content {
		img {
			width: 100%;
			height: 200px;
		}
		.about-cards__box {
			padding: 0 10px 35px;
			background: #fff;
			min-height: 200px;
			span {
				display: block;
				color: #2F343A;
				text-align: center;
				font-size: 22px;
			}
			span:first-child {
				font-size: 64px;
				font-weight: 700;
			}
			span:last-child {
				font-size: 12px;
				margin-top: 10px;
			}
		}
		#slides {
		    position: relative;
		    width: 100%;
		    height: 190px;
		    padding: 0px;
		    margin: 0px;
		    list-style-type: none;

		    .slide {
			    position: absolute;
			    left: 0px;
			    top: 0px;
			    width: 100%;
			    height: 100%;
			    opacity: 0;
			    z-index: 1;
			    -webkit-transition: opacity 1s;
			    -moz-transition: opacity 1s;
			    -o-transition: opacity 1s;
			    transition: opacity 1s;
			    img {
			    	width: 100%;
			    }
			}
			.showing {
			    opacity: 1;
			    z-index: 2;
			}
		}
	}
}
.location {
	#map {
		background: url('../img/map.png') no-repeat center /cover;
		width: 100%;
		height: 500px;
		margin: auto;
	}
}
.footer {
	background: $bgColorGold;
	padding: 35px 0 20px;
	a, p {
		display: block;
		font-size: 13px;
		margin-bottom: 10px;	
	}
	a:hover {
		color: #000;
	}
}
/*-----------------MEDIA QUERIES-----------------*/
/*-------- 992-1200px col-md-------*/
@media screen and (max-width: 1200px) {
	.head-nav {
		.head-menu {
			.head-menu__list {
				.head-menu__link {
					a {
						padding: 5px 15px;
					}
				}
			}
		}
	}
}
/*-------- 768-992px col-md-------*/
@media screen and (max-width: 992px) {
	h1 {
		font-size: 55px;
	}
	.header-home {
		padding: 200px 0 240px;
	}
	.transport-county {
		&:after {
		    left: 31%;
		    width: 40%;
		}
		.indent-top {
			margin-top: 70px;
			.transport-gallery {
				margin-top: 0;
				.transport-gallery__img {
					margin-left: 150px;
					min-height: 300px;
					img {
						width: 100%
					}
				}
				.transport-gallery__switch {
					.btn-next {
						top: inherit;
						bottom: -45px;
						right: 70px;
						span {
							display: none;
						}
					}
					.btn-prev {
						left: 70px;
						bottom: -45px;
						span {
							display: none;
						}
					}
				}
			}
			.dots-box {
				left: 44%;
				bottom: -44px;
			}
		}
	}
	.services {
		.top-indent {
			margin-top: 1px;
		}
		.services-cards {
			margin-bottom: 3px;
			min-height: 220px;
		}
	}
	.about {
		padding: 80px 0;
		&:after {
			top: 75px;
		    left: 31%;
		    width: 40%;
		}
		.indent-top {
			margin-top: 70px;
		}
		.about-cards__content {
			.about-cards__box {
				margin-top: 2px;
			}
		}
	}
	.footer {
		.footer-phone, .footer-copy {
			margin-top: 20px;
		}
	}
	.location {
		#map {;
			height: 300px;
		}
	}

	
}

/*-------- 576-768px col-md-------*/
@media screen and (max-width: 768px) {
	.transport-county {
		&:after {
		    left: 25%;
		    width: 50%;
		}
		.indent-top {
			.transport-gallery {
				.transport-gallery__img {
					margin-left: 50px;
				}
			}
		}
	}
	.about {
		&:after {
		    left: 25%;
		    width: 50%;
		}
	}
}
/*-------- 320-576px col-------*/
@media screen and (max-width: 576px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	.head-top {
		padding: 8px 0;
	}
	.head-nav {
		.head-geolocation {
			display: flex;
			align-items: center;
			line-height: 1;
			font-size: 14px;
			.head-geolocation__link {
				margin-left: 0;
			}
		}
	}
	.header-home {
		padding: 160px 0;
	}
	.transport-county {
		padding: 120px 0 130px;
		.county {
			.link {
				padding: 15px 35px 14px;
			}
		}
	}
	.services {
		.services-cards {
			width: 90%;
			margin: auto;
			margin-bottom: 3px;
			padding: 15px 20px;
		}
	}
	.about {
		.about-info {
		}
		.about-cards__content {
			img {
				margin: 2px 0;
			}
			.about-cards__box {
			}
		}
	}
}